# Core
streamlit
pandas
numpy

# D-Tale
dtale
scipy

# Profiling
ydata-profiling
setuptools
streamlit-pandas-profiling
visions

# AutoML
autogluon

# Utilities
matplotlib
seaborn
pillow

